@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
    background-color: #0d1117;
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    font-family: "Poppins", sans-serif;
    padding-top: 9vh;
    color: white;
    text-align: center;
}

.dark-mode {
    background-color: rgb(22, 22, 22);
    -webkit-transition: background 0.5s linear;
    -moz-transition: background 0.5s linear;
    -ms-transition: background 0.5s linear;
    -o-transition: background 0.5s linear;
    transition: background 0.5s linear;
    color: white;
}

h1 {
    font-size: 5em;
}


p {
    font-size: 1.8em;
}

a {
    color: #0358fe;
    text-decoration: none !important;
}

.change {
    cursor:pointer;
}

.text {
    font-family: "Poppins", sans-serif;
}


#title {
    font-size: 5em;
    font-weight: bolder;
    text-transform: uppercase;
}